<div class="component">
  <h1>Problem 1</h1>
  <p  class="problem">Find the sum of all the multiples of 3 or 5 below 1000.</p>
  <div class="resultSpan"  *ngIf="isDisplaying==true">
      <div  class="text">
        <h2>Solution</h2>
        The multiples of 3 or 5 below 1000 are:<br>
        </div>
        <div class="array">
      <span *ngFor="let elem of sortedArray">
        {{elem}}
        </span><br>
      </div>
      <div   class="final">The sum = {{sum}}</div>
    </div>

  <button (click)="solve()" *ngIf="isDisplaying==false">Show solution</button>
  <button (click)="hide()" *ngIf="isDisplaying==true">Hide solution</button>

</div>
